@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Main-Page {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-width;
  width: 375px;
  left: 0;
  top: 92px;
  border-radius: 0;
  border: 2px solid black;
  padding: 120px, 24px, 120px, 24px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #3c3a39;
  width: 375px;
  height: 92px;
}

.works-section {
  width: 375px;
  height: 2000px;
  border: 2px solid green;
}

.section {
  height: 590px;
  width: 375px;
  background: black;
}

.section img {
  width: 100%;
  height: 100%;
}

.logo {
  color: white;
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Poppins";
  font-weight: 1000;
  text-decoration: none;
  font-size: 20px;
  text-align: Center;
  fill: Solid #ffffff;
}

i {
  font-size: 20px;
  margin-right: 40px;
  margin-top: 45px;
  color: white;
}

h2 {
  width: 327px;
  height: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

h1 {
  margin-top: 100px;
  margin-left: 20px;
  width: 327px;
  height: 124px;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
}

.content {
  width: 327px;
  height: 123px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
  margin-left: 25px;
}

.imgcontainer {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  width: max-content;
}

img {
  padding: 5px;
  margin-top: 0px;
}

#Medium {
  padding-top: 15px;
}

/* //this is the starting point of the form css */
.Contact-Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 20px;
  width: 375px;
  height: max-content;
  left: 0px;
  top: 6038px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.form-header {
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 2px solid;
}

.form-control {
  width: 327px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.form-control input {
  height: 18px;
  left: 16px;
  right: 16px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
  border: none;
}

#form-control-textarea {
  width: 327px;
  height: 114px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #fbf8f7;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

#fullname {
  width: 295px;
  height: 18px;
  left: 16px;
  right: 16px;
  margin: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

#email {
  width: 295px;
  height: 18px;
  left: 16px;
  right: 16px;
  margin: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

button {
  height: 48px;
  width: 131px;
  left: 98px;
  top: 282px;
  border-radius: 0px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-left: 6rem;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.main-footer {
  width: 375px;
  height: 100px;
  left: 0px;
  top: 6886px;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.footer-items li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.final {
  margin-top: 10px;
}
